<div class="main posts-index">
  <div class="container posts">
    <div class="timeline-header">
      <div class="posts-heading">Following Posts</div>
      <a class="all-post-button" href="/posts">
        <div class="all-post-button-button">Explore all posts</div>
        <div class="arrow-forward">
        </div>
      </a>
    </div>
    <%- include('../_timeline', {timeline: timeline}); %>
  </div>
</div>
