body {
  margin: 0;
}

ul {
  margin: 0;
}

a:hover {
  background: none;
}

a {
  text-decoration: none;
}

header {
  color: white;
}

/* reset ================================ */
* {
  box-sizing: border-box;
}

html {
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2d3133;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

input {
  background-color: transparent;
  outline-width: 0;
}

form input[type="submit"] {
  border: none;
  cursor: pointer;
}

/* common layout ================================ */
body {
  color: #2d3133;
  background-color: #3ecdc6;
  margin: 0;
  min-height: 1vh;
}

.main {
  position: absolute;
  top: 64px;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: #f5f8fa;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  padding-left: 15px;
  padding-right: 15px;
  clear: both;
}

.button {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 2px;
  justify-content: center;
  align-items: flex-start;
  display: inline-flex;
  text-align: center;
  font-size: 16px;
  font-family: Arial;
  font-weight: 400;
  letter-spacing: 2px;
  word-wrap: break-word;
  line-height: normal;
  cursor: pointer;
  user-select: none;
}

.button.follow {
  padding-top: 8.50px;
  padding-bottom: 8.50px;
  background: #3ECDC6;
  color: white;
}

.button.follow::before {
  content: 'Follow';
}

.button.following {
  border: 0.50px #3ECDC6 solid;
  color: #3ECDC6;
}

.button.following::before {
  content: 'Following';
}

.button.following:hover {
  background: rgba(231, 82, 82, 0.10);
  border: 0.50px #E75252 solid;
  color: #E75252;
}

.button.following:hover::before {
  content: 'Unfollow';
}

.button.cancel {
  border: 0.50px #0B0F15 solid;
  color: #0B0F15;
}

.button.cancel::before {
  content: 'Cancel';
}

.modal {
  width: 100%;
  height: 100%;
  z-index: 100;
  left: 0px;
  top: 0px;
  position: fixed;
  background: rgba(0, 0, 0, 0.70);
  display: flex;
  justify-content: center;
  align-items: center;
  clear: both;
  visibility: hidden;
  transition: ease-in-out .3s;
  opacity: 0;
}

.modal.show {
  opacity: 1;
  visibility: visible;
}

.close-button {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.close-button::before,
.close-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: black;
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-button::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}


/* header ================================ */
header {
  height: 64px;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.header-logo {
  float: left;
  padding-left: 20px;
  color: white;
  font-size: 22px;
  line-height: 64px;
}

.header-logo a {
  color: white;
  font-size: 22px;
}

.header-menus {
  float: right;
  padding-right: 20px;
}

.header-menus li {
  float: left;
  line-height: 64px;
  font-size: 13px;
  color: white;
  padding-left: 15px;
}

.header-menus a {
  float: left;
  font-size: 13px;
  color: white;
}

.header-menus .fa {
  padding-right: 5px;
}

.header-menus input[type="submit"] {
  font-family: 'Avenir Next', 'Hiragino Sans', sans-serif;
  padding: 0;
  float: left;
  line-height: 64px;
  color: white;
  margin: 0;
  font-size: 13px;
}

/* top ================================ */
.top-main {
  padding: 200px 0 100px;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  color: white;
  background-color: #3ecdc6;
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: cover;
  background-image: url("/image/top.jpg");
}

.top-message {
  position: relative;
}

.top-main h2 {
  font-size: 70px;
  font-weight: 500;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 20px;
}

.top-main p {
  font-size: 24px;
}

/* about ================================ */
.about-main {
  padding: 180px 8% 0;
  color: white;
}

.about-main h2 {
  font-size: 64px;
  font-weight: 500;
  line-height: 1.4;
}

.about-main p {
  font-weight: 200;
  font-size: 20px;
}

.about-img {
  width: 84%;
}

/* form ================================ */
.form {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
}

.form-heading {
  font-weight: 300;
  margin: 60px 0 20px;
  font-size: 48px;
  color: #bcc8d4;
}

.form-body {
  padding: 30px;
}

.form-error {
  color: #ff4d75;
}

.form input {
  width: 100%;
  border: 1px solid #d8dadf;
  padding: 10px;
  color: #57575f;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 2px;
}

.form textarea {
  width: 100%;
  min-height: 110px;
  font-size: 16px;
  letter-spacing: 2px;
}

.form input[type="submit"] {
  background-color: #3ecdc6;
  color: white;
  cursor: pointer;
  font-weight: 300;
  width: 120px;
  border-radius: 2px;
  margin-top: 8px;
  margin-bottom: 0;
  float: right;
}

.form-body:after {
  content: '';
  display: table;
  clear: both;
}

/* dialog message ================================ */
.dialog {
  padding: 10px 0;
  color: white;
  background: rgb(251, 170, 88);
  text-align: center;
  position: absolute;
  top: 64px;
  z-index: 10;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}

/* posts/index ================================ */
.posts-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.post-left img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.post-user-name a {
  font-weight: 600;
}

.post-user-name a:hover {
  color: #3ecdc6;
}

.post-left {
  float: left;
  width: 10%;
}

.post-right {
  float: left;
  width: 90%;
  padding-left: 25px;
  text-align: left;
}

img[data-test=post-image] {
  object-fit: cover;
  width: 100%;
}

/* posts/show ================================ */
.posts-show form {
  display: inline;
}

.posts-show-item {
  padding: 30px;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
  overflow: hidden;
}

.posts-show-item-image {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  vertical-align: middle;
  object-fit: cover;
}

.posts-show-item .post-user-name a {
  vertical-align: middle;
  font-size: 24px;
  margin-left: 15px;
}

.posts-show-item p {
  font-size: 24px;
  margin: 20px 0;
}

.post-header {
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.post-time {
  color: #8899a6;
  margin-bottom: 10px;
}

.like-btn {
  padding: 0;
  background: none;
  border: none;
  vertical-align: middle;
  cursor: pointer;
}

.like-btn.like {
  color: #8899a6;
}

.like-btn.unlike {
  color: #ff2581;
}

.retweet-btn {
  padding: 0;
  background: none;
  border: none;
  vertical-align: middle;
  color: #8899a6;
  cursor: pointer;
}

.has-retweeted {
  color: #19CF86;
}

.post-label {
  font-size: 14px;
  color: #8899a6;
  margin-right: 10px;
}

.posts-show-item .fa {
  font-size: 16px;
  margin-right: 3px;
}

.post-menus {
  float: right;
}

.post-menus a,
.post-menus input {
  color: #8899a6;
  text-decoration: underline;
  font-size: 14px;
}

/* posts/new ================================ */
.posts-new textarea {
  font-size: 20px;
  padding: 10px;
  min-height: 140px;
  border: 1px solid rgb(216, 218, 223);
  resize: none;
}

.posts-new textarea::-webkit-input-placeholder {
  font-size: 24px;
  opacity: 0.5;
}

.comments-new {
  border-top: 1px solid #c1ced7;
  padding-top: 20px;
  margin-top: 20px;
}

.comments-form {
  display: flex;
}

.comments-form textarea {
  flex: 1;
  font-size: 16px;
  padding: 5px;
  height: 36px;
  border: 1px solid rgb(216, 218, 223);
  resize: none;
}

.comments-form input[type="submit"] {
  background-color: #3ecdc6;
  color: white;
  cursor: pointer;
  font-weight: 300;
  width: 90px;
  border-radius: 2px;
  margin-bottom: 0;
  margin-left: 10px;
}

.comments-container {
  margin-top: 20px;
}

.comments-index-item {
  margin-top: 10px;
  display: flex;
}

.comment-left img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.comment-right {
  flex: 1;
}

.comment-right {
  padding-left: 25px;
}

.comment-user-name {
  font-weight: 600;
}

.comment-content {
  font-size: 14px;
}

.comment-menus {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.comment-menus a,
.comment-menus input {
  color: #8899a6;
  text-decoration: underline;
  font-size: 14px;
}

input[type="checkbox"] {
  width: inherit;
}

/* users/index ================================ */
.users-heading {
  font-weight: 300;
  margin: 60px 0 20px;
  font-size: 48px;
  color: #bcc8d4;
}

.users-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  display: table;
  width: 100%;
}

.user-left img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.user-name a {
  font-weight: 600;
}

.user-name a:hover {
  color: #3ecdc6;
}

.user-left {
  float: left;
  width: 10%;
}

.user-right {
  width: 90%;
  padding-left: 25px;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
}

/* users/show ================================ */
.user-show {
  text-align: center;
}

.user {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  display: flex
}

.user-info {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  display: flex
}

.user-name-email {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1px;
  display: flex
}

.user img {
  width: 80px;
  height: 80px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  margin: 20px 0 10px;
  object-fit: cover;
}

.user h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.user p {
  font-size: 13px;
}

.user a {
  color: #8899a6;
  text-decoration: underline;
  font-weight: 200;
}

.user span {
  color: #afb6bf;
  font-weight: 200;
  padding: 0 6px 0 8px;
}

.user-tabs {
  margin-top: 40px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.user-tabs li {
  float: left;
}

.user-tabs li.active {
  border-bottom: 2px solid #3ecdc6;
}

.user-tabs li.active a {
  color: #57575f;
}

.user-tabs a {
  display: inline-block;
  padding: 16px 30px;
  color: #afb6bf;
}

.follows-followers {
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  display: inline-flex;
  cursor: pointer;
  user-select: none;
}

.follows-followers a{
  text-decoration: none;
}

.follows-followers .followers {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  display: flex;
  cursor: pointer;
  user-select: none;
}

.follows-followers .vector1 {
  width: 0px;
  align-self: stretch;
  border: 0.25px #9E9E9E solid
}

.follows-followers .following {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  display: flex
}

.follows-followers .link-ken-the-ninja-num {
  color: #212121;
  font-size: 14px;
  font-family: 'Avenir Next', 'Hiragino Sans', sans-serif;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 1px;
  word-wrap: break-word
}

.follows-followers .link-ken-the-ninja {
  color: #212121;
  font-size: 14px;
  font-family: 'Avenir Next', 'Hiragino Sans', sans-serif;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1px;
  word-wrap: break-word
}

.follows-followers-list {
  top: 150px;
  position: absolute;
  flex-direction: column;
  justify-content: center; 
  align-items: flex-start;
  display: inline-flex;
  width: 40%;
}

.follows-followers-list .follows-followers-list-header {
  align-self: stretch;
  height: 57.80px;
  padding-left: 16px;
  padding-right: 16px;
  background: white;
  box-shadow: 0px 2px 6px #C1CED7;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.selectable-items {
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.selectable-item {
  padding-top: 15px;
  padding-bottom: 18.80px;
  padding-left: 30px;
  padding-right: 30.76px;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  text-align: center;
  color: #AFB6BF;
  font-size: 14px;
  font-family: "Avenir Next";
  font-weight: 400;
  line-height: 23.80px;
  letter-spacing: 1px;
  word-wrap: break-word;
  cursor: pointer;
  user-select: none;
}

.selectable-item.selected {
  border-bottom: 1px #3ECDC6 solid;
  color: #57575F;
}

.follows-followers-list-button {
  padding-left: 25px;
  display: table-cell;
  vertical-align: middle;
}
/* users/new, users/edit ================================ */
.users-form input {
  margin-bottom: 15px;
}